body{
    background-color: rgb(36, 14, 163);
    box-sizing: border-box;
    margin: 5%;
}

h2{
    margin: 20px 50px;
    padding: 10px;
    border: 19px none;
    border-radius: 50%;
    max-width: fit-content;
    background-color: gray;
    color: purple;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bolder;
}

#average{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    padding: 15px;
    border: 9px solid purple;
    background-color: yellow;
    max-width: fit-content;
    margin: 20px;
    border-radius: 50%;
}

#studentForm{
    max-width: fit-content;
    margin: 20px 50px;
    padding: 20px;
    border: 2px solid grey;
    background-color: blueviolet;
}

#studentTable{
    margin: 20px 60px;
    border: dotted;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}

thead{
    background-color: purple ;
}

tbody{
    background-color: rgb(189, 2, 189);
}

div{
    margin: 5px;
}

input{
    margin: 5%;
    border-color: rgb(107, 107, 107);
}

label{
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

button{
    background-color: yellow;
    border-color: purple;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}